.Header{
  height: 50px;
  width: 100%;
  line-height: 50px;
  .person{
    .icon{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #00aaff;
      text-align: center;
    }
  }
  .name{
    line-height: 50px;
    span{
      padding-left: 50px;
    }
    font-weight: 500;
    color: #00aaff;
  }
  input{
    &.no-border{
      border: none;
      border-bottom: 1px solid #dddddd;
      outline: none;
    }
  }
}
