.wrap-form{
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  box-shadow: 2px 2px 8px hsla(0,0%,90%,.8);
  text-align: center;
  padding: 20px;
  legend{
    font-size: 20px;
  }
  input{
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
  }
  form{
    padding: 20px;
    button{
      width: 100%;
      max-width: 300px;
      margin: 10px auto;
    }
    &.loginForm{
    input{
      width: 100%;
      max-width: 300px;
      margin: 10px auto;
    }
  }


  }

.email-alert{
  padding: 5px 10px 5px 10px;
  background-color: white;
  color: #FF2D40;
  box-shadow: 0 0 3px 3px hsla(0,0%,90%,.8);
  border: 3px;
  margin: 2px 0 2px 0;
  display: none;
  //span{
  //  &:before{
  //    content: '';
  //    display: block;
  //    width: 0;
  //    height: 0;
  //    border-right: 50px solid transparent;
  //    border-bottom: 50px solid blue;
  //    border-left: 50px solid transparent;
  //  }
  //}
}
}