$model_width:50%;
.modal-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background: gray;
  z-index: 100001;
  opacity: 0.5;
}
.modal{
  line-height: normal;
  width: $model_width;
  height: max-content;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 100002;
  .modal-header{
    height: 30px;
    padding: 10px;
    background-color: #00aaff;
    font-size: 18px;
    line-height: 30px;
    color:white;
    letter-spacing: normal;
  }
  .modal-content{
    padding:10px;
  }
  .modal-footer{
    padding:10px;
    height: min-content;
    text-align: right;
    border-top: 1px solid #00aaff;
    line-height: 30px;
  }
}